.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}